.accordion {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
}

.accordion-header {
  background-color: #f7f7f7;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.accordion-content.open {
  max-height: 500px; /* Ajuste conforme necessário */
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel img {
  scroll-snap-align: center;
  width: 100%;
  height: auto;
  border-radius: 5px;
}