/* Main Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #2B2D42;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: #2B2D42;
  font-weight: 700;
  margin: 0 0 10px;
}

a {
  color: #2B2D42;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}

a:hover, a:focus {
  color: #D10024;
  text-decoration: none;
  outline: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Custom Classes */
.text-uppercase {
  text-transform: uppercase;
}

.primary-color {
  color: #D10024;
}

.white-color {
  color: #FFF;
}

/* Section Styles */
.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-title {
  position: relative;
  margin-bottom: 30px;
  margin-top: 15px;
}

.section-title .title {
  display: inline-block;
  text-transform: uppercase;
  margin: 0px;
}

.section-title .section-nav {
  float: right;
}

/* Header Styles */
#header {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #15161D;
}

/* Navigation Styles */
.main-nav {
  float: left;
  margin-left: 20px;
}

.main-nav > li {
  display: inline-block;
  margin-right: 30px;
}

.main-nav > li > a {
  color: #FFF;
  text-transform: uppercase;
  padding: 2px 0px;
}

.main-nav > li > a:hover, 
.main-nav > li > a:focus,
.main-nav > li.active > a {
  color: #D10024;
  background-color: transparent;
}

/* Product Styles */
.product {
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}

.product .product-img {
  position: relative;
}

.product .product-img > img {
  width: 100%;
}

.product .product-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
}

.product .product-body .product-category {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.product .product-body .product-name {
  text-transform: uppercase;
  font-size: 14px;
}

.product .product-body .product-price {
  color: #D10024;
  font-size: 18px;
  font-weight: 700;
}

/* Buttons */
.primary-btn {
  display: inline-block;
  padding: 12px 30px;
  background-color: #D10024;
  border: none;
  border-radius: 40px;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.primary-btn:hover, .primary-btn:focus {
  background-color: #15161D;
  color: #FFF;
}

/* Footer Styles */
#footer {
  background: #15161D;
  color: #B9BABC;
}

#bottom-footer {
  background: #1E1F29;
}

.footer-links li + li {
  margin-top: 10px;
}

.footer-links li a {
  color: #B9BABC;
}

.footer-links li a:hover {
  color: #D10024;
}

/* Responsive */
@media only screen and (max-width: 991px) {
  .section-title .section-nav {
    float: none;
    margin-top: 10px;
  }
  
  .main-nav {
    margin: 0px;
    float: none;
  }
  
  .main-nav > li {
    display: block;
    margin: 0px;
  }
}

@media only screen and (max-width: 767px) {
  .product .product-body {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .product .product-img {
    margin-bottom: 15px;
  }
} 