.p-card {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: yellow;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 30px;
}
.p{
  font-size: 1rem;
  color: #000;
  margin-bottom: 10px;  
}