#footer {
  background: #15161D;
  color: #B9BABC;
  padding-top: 30px;
}

.footer {
  margin: 30px 0px;
}

.footer .footer-title {
  color: #FFF;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 0px 30px;
}

.footer-links {
  margin-bottom: 30px;
}

.footer-links li + li {
  margin-top: 15px;
}

.footer-links li a {
  color: #B9BABC;
  transition: 0.3s color;
}

.footer-links li a:hover {
  color: #FFF;
  text-decoration: none;
}

.footer-links a {
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
  color: #B9BABC;
  transition: 0.3s color;
}

.footer-links a:hover {
  color: #FFF;
}

#bottom-footer {
  background: #1E1F29;
  padding: 20px 0;
}

.copyright {
  color: #B9BABC;
  font-size: 14px;
}

.copyright a {
  color: #0088FF;
  font-weight: 700;
}

.copyright a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 991px) {
  .footer {
    margin: 15px 0px;
  }
}

@media only screen and (max-width: 767px) {
  .footer .footer-title {
    margin-bottom: 20px;
  }

  .footer-links {
    margin-bottom: 20px;
  }

  .footer-links li + li {
    margin-top: 10px;
  }
} 