#header {
  padding: 10px 0;
  background-color: #0088FF;
  border-bottom: 4px solid #FFD700;
}

.header-logo {
  float: left;
}

.header-logo .logo img {
  display: block;
  max-height: 50px;
}

.header-search {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.header-search form {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.header-search form .input-select {
  width: 120px;
  margin-right: -1px;
  border-radius: 20px 0 0 20px;
  border: none;
  background: #fff;
  padding: 8px 15px;
}

.header-search form .input {
  width: calc(100% - 180px);
  margin-right: -1px;
  border: none;
  padding: 8px 15px;
}

.header-search form .search-btn {
  height: 40px;
  width: 100px;
  background: #4CAF50;
  color: #FFF;
  font-weight: 600;
  border: none;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-search form .search-btn:hover {
  background: #45a049;
}

.header-ctn {
  float: right;
  padding: 5px 0;
}

.header-ctn > div {
  display: inline-block;
}

.header-ctn > div + div {
  margin-left: 15px;
}

.header-ctn > div > a {
  display: block;
  position: relative;
  width: 90px;
  text-align: center;
  color: #FFF;
}

.header-ctn > div > a > i {
  display: block;
  font-size: 18px;
}

.header-ctn > div > a > span {
  font-size: 12px;
  color: #FFF;
}

.menu-toggle > a {
  padding: 5px 0px;
}

@media only screen and (max-width: 991px) {
  .header-search {
    margin-bottom: 15px;
  }
  
  .header-ctn {
    float: none;
    text-align: center;
  }
  
  .header-ctn > div {
    width: 100%;
    margin: 0px 0px;
  }
} 