.banner {
  position: relative;
  height: 400px;
  overflow: hidden;
  background-color: #fffd72;
  padding: 20px 0 20px ;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Texto por cima */
.texto-sobreposto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* centraliza no meio */
  color: white;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* melhora legibilidade */
  padding: 20px;
}

.texto-sobreposto h1 {
  color: #fffd72 !important;
}

.header-links {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.header-links a {
  color: #FFF;
  font-size: 28px;
  transition: transform 0.3s, color 0.3s;
}

.header-links a:hover {
  color: #FFD700;
  transform: scale(1.2);
}

@media (max-width: 991px) {
  .banner {
    padding: 40px 0;
  }

  .banner img {
    right: 5%;
    max-height: 60%;
  }

  .texto-sobreposto {
    margin-left: 5%;
  }

  .texto-sobreposto h1 {
    font-size: 2.2em;
    color: #fffd72;
  }

  .texto-sobreposto p {
    font-size: 1.1em;
  }
}

@media (max-width: 768px) {
  .banner img {
    opacity: 0.3;
    right: 0;
    width: 100%;
    object-fit: contain;
  }

  .texto-sobreposto {
    text-align: center;
    margin: 0 auto;
    padding: 0 20px;
  }

  .header-links {
    justify-content: center;
  }

  .header-links a {
    font-size: 24px;
  }
} 